<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to the <%= title %> page! </h2>
            <p>To get started, click on <a href="/books">Books List</a> in to top right corner. </p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


